*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #333;
  color: #fff;
  line-height: 1.5;
}

.header{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(../images/washington.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.content h1{
  font-size: 24px;
}

.btn {
  width: 150px;
  height: 45px;
  margin-top: 25px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #fff;
  transition: 1s;
  color: #fff;
  cursor: pointer;
  padding: 12px 34px;
}

.btn:hover{
  background: var(--green-color);
  border: transparent;
}

#section{
  padding-top: 10%;
  text-align: center;
}

.heading{
  font-size: 36px;
  padding-bottom: 20px;
}

:root{
  --green-color: #009688
}

.col-course{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 45px;
  text-align: center;
  margin: auto;
  gap: 10px;
}

.col{
  flex-basis: 32%;
}

.course{
  background: #009688;
  flex-basis: 30%;
  padding: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.course h3{
  font-weight: 600;
  padding: 10px;
}

.head{
  font-size: 18px;
  padding-bottom: 5%; 
}

.course:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.row{
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 5%;
  padding-top: 5%;
}

img{
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  cursor: pointer;
}

.campus-col{
  flex-basis: 32%;
  position: relative;
}

.layer{
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  cursor: pointer;
}

.layer:hover{
  background: rgba(99, 160, 99, 0.7);
  border-radius: 10px;
}

.layer h3{
  position: absolute;
  font-weight: 500;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  transition: 1s;
  opacity: 0;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

.facilities-row{
  flex-basis: 32%;
  text-align: start;
}

.testimonial-col{
  display: flex;
  justify-content: space-around;
  padding: 20px 25px;
  flex-basis: 42%;
  background: #009688;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.testimonial-col h3{
  margin-top: 15px;
  text-align: left;
}

.testimonial-col img{
  margin-right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fix{
  text-align: center;
  padding: 20px;
}

.cta{
  margin: 50px auto;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/freecodecamp.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  border-radius: 10px;
  padding: 45px 25px;
}

@media(max-width: 568px){
  .row{
    flex-direction: column;
  }
  .col-course{
    flex-direction: column;
  }
}